.registration{
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.registration__header{
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #ff3399;
    margin-top: 2rem;
    padding-bottom: 10px;
    height: 6vh;
}

.registration__header_strip div{
    width: 0.2rem;
    height: 2.5rem;
    background-color: rgb(64, 224, 208);
}

.registration__header_title{
    font-size: 2.33rem;
    font-weight: 300;
    line-height: 4.66rem;
    margin-left: 0.26rem;
}

.registration__body{
    width: 100%;
    margin-top: 4rem;
}

.registration__row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.registration__left, .registration__right{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.registration__item{
    display: flex;
    flex-direction: column;
    position: relative;
}

.registration__item_title{
    padding-left: 15px;
    padding-bottom: 3px;
}

.registration__item_input, .registration__item_input_date, .registration__item_button{
    width: 26rem;
    height: 2.66rem;
    box-shadow: 0 0 4px #808080;
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 1.33rem;
    padding: 0 1rem 0 2.66rem;
    transition: all .2s linear;
}

.registration__item_input_date{
    color: #c0c0c0;
}

.registration__item_input:hover, .login__item_input:focus, .registration__item_input_date:hover, .registration__item_input_date:focus{
    border: 2px solid rgb(64, 224, 208);
}

.registration__item_input_icon {
    position: absolute;
    left: 0.66rem;
    bottom: 2.13rem;
}

.registration__item_subtitle{
    position: absolute;
    padding-left: 1rem;
    top: 4.66rem;
    font-size: 0.73rem;
}

.registration__item_button{
    border: none;
}

.registration__item_button:hover{
    background-color: rgb(64, 224, 208);
    color: #ffffff;
}

@media(max-width: 991px){
    .registration__body{
        margin-top: 2rem;
    }
    .registration__row{
        flex-direction: column;
    }

    .registration__right, .registration__left{
        width: 100%;
    }

    .registration__item_input_date{
        margin-bottom: 0;
    }

    .registration__item_button:last-child{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}

@media(max-width: 414px){
    .registration__item_input, .registration__item_input_date, .registration__item_button{
        width: 90vw;
    }
}



