.profile{
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.profile__header{
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #ff3399;
    margin-top: 2rem;
    padding-bottom: 10px;
    height: 6vh;
}

.profile__header_strip div{
    width: 0.2rem;
    height: 2.5rem;
    background-color: rgb(64, 224, 208);
}

.profile__header_title{
    font-size: 2.33rem;
    font-weight: 300;
    line-height: 4.66rem;
    margin-left: 0.26rem;
}

.profile__body{
    width: 100%;
    margin-top: 4rem;
}

.profile__row{
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profile__col{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.profile__item{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 1rem;
}

.profile__item_title{
    padding-left: 16px;
    padding-bottom: 3px;
}

.profile__item_input, .profile__item_button{
    width: 26rem;
    height: 2.66rem;
    box-shadow: 0 0 4px #808080;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 1.33rem;
    padding: 0 1rem 0 2.66rem;
    transition: all .2s linear;
}

.profile__item_input:hover, .login__item_input:focus{
    border: 1px solid rgb(64, 224, 208);
}

.profile__item_input_icon {
    position: absolute;
    left: 0.66rem;
    bottom: 2.13rem;
}

.profile__item_subtitle{
    position: absolute;
    padding-left: 1rem;
    top: 4.66rem;
    font-size: 0.73rem;
}

.profile__item_button{
    border: none;
}

.profile__item_button:hover{
    background-color: rgb(64, 224, 208);
    color: #ffffff;
}

.profile__item_button:disabled{
    background-color: #ffffff;
    color:#808080;
    cursor: default;
}

.input__error_message{
    position: absolute;
    bottom: 0;
    padding-left: 16px;
    font-size: 10px;
    color: #ff3399;
}

@media(max-width: 991px){
    .profile__body{
        margin-top: 2rem;
    }
    .profile__row{
        flex-direction: column;
    }

    .profile__col{
        width: 100%;
    }

    .profile__item_button:last-child{
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}

@media(max-width: 414px){
    .rprofile__item_input, .profile__item_button{
        width: 90vw;
    }
}

