.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
    z-index: 1;
}

.home{
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.home__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5.33rem 0 2.66rem;
}

.title{
    font-size: 5rem;
    font-weight: 700;
    color: #ff3399;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    margin-top: -15px;
}

