.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 1rem;
}

.home{
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
    z-index: 0;
}

.home__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5.33rem 0 2.66rem;
    line-height: 85px;
}

.title{
    font-size: 5rem;
    font-weight: 700;
    color: #ff3399;
}

.subtitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    margin-top: -15px;
}

@media(max-width: 767px){
    .home__title{
        line-height: 70px;
    }

    .title{
        font-size: 4rem;
    }

    .subtitle{
        font-size: 2rem;
    }
}

@media(max-width: 535px){
    .home__title{
        line-height: 60px;
    }

    .title{
        font-size: 4rem;
    }

    .subtitle{
        font-size: 2rem;
    }
}

@media(max-width: 414px){
    .title{
        font-size: 3.5rem;
    }

    .subtitle{
        font-size: 2rem;
    }
}
