.burger__menu{
    display: none;
    justify-content: flex-end;
}

.burger__button{
    background: none;
}

.burger__button_open{
    height: 50px;
    width: 50px;
}

.burger__button_close{
    height:40px;
    width: 40px;
}

.burger__menu_items{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    padding: 1rem;
    top: 6rem;
    right: 1%;
    left: 1%;
}

.burger__link{
    padding: 0.5rem 1rem;
    transition: all .2s linear;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-transform: lowercase;
}

.burger__link_btn{
    min-width: 7.6rem;
    border: 1px solid #808080;
    padding: 0.5rem 1rem;
    transition: all .2s linear;
    border-radius: 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.burger__link_btn:hover, .burger__link_btn.active{
    background-color: #40e0d0;
    box-shadow: 0 0 4px #808080;
    border-color: #40e0d0;
    color: #ffffff;
}

.burger__link:hover, .burger__link.active{

    color: #40e0d0;
}

@media(max-width: 990px){
    .burger__menu{
        display: flex;
    }
}