.login{
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.login__header{
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #ff3399;
    margin-top: 2rem;
    padding-bottom: 10px;
    height: 6vh;
}

.login__header_strip div{
  width: 0.2rem;
    height: 2.5rem;
    background-color: rgb(64, 224, 208);
}

.login__header_title{
  font-size: 2.33rem;
  font-weight: 300;
  line-height: 4.66rem;
  margin-left: 0.26rem;
}

.login__body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__title{
  margin-top: 2.66rem;
  font-size: 2.33rem;
  font-weight: 400;
}

.login__wrapper{
  width: 100%;
  margin-top: 2rem;
}

.login__row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.login__left{
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 45%;
  justify-content: center;
  align-items: center;
  margin-right: 6rem;
}

.login__right {
  display: flex;
  flex-direction: column;
  height: 20rem;
  width: 45%;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
}

.login__inner {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 10%;

}

.login__inner-title{
  display: flex;
  width: 2.66rem;
  height: 2.66rem;
  border-radius: 50%;
  border: 2px solid #808080;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}

.login__item{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 85%
}

.login__item_title{
  padding-left: 15px;
  padding-bottom: 3px;
}

.login__item_title a{
  color: #808080;
  text-decoration: none;
  transition: color .2s linear;
}

.login__item_title a:hover{
  color: #ff3399;
}

.login__item_input{
  width: 26rem;
  height: 2.66rem;
  background-color: #ffffff;
  box-shadow: 0 0 4px #808080;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 1.33rem;
  padding: 0 1rem 0 2.66rem;
  transition: all .2s linear;
}

.login__item_input:hover, .login__item_input:focus{
  border: 2px solid rgb(64, 224, 208);
}

.login__item_button{
  background-color: #ffffff;
  /*background: none;*/
  margin-top: 3.33rem;
}

.login__item_input_icon {
  position: absolute;
  left: 0.66rem;
  bottom: 2.13rem;
}


.login__item a{
  position: absolute;
  color: cornflowerblue;
  padding-left: 1rem;
  top: 4.66rem;
  text-decoration: none;
}

.login__item a:hover{
  color: #ff3399;
}

.login__item_button{
  width: 26rem;;
  height: 2.66rem;
  box-shadow: 0 0 4px #808080;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 1.33rem;
  padding: 0 1rem;
  color: #808080;
  font-size: 1rem;
  font-weight: 600;
  transition: all .2s linear;
}

.login__item_button:hover{
  background-color: rgb(64, 224, 208);
  color: #ffffff;
}

.login__social_button{
  display: flex;
  /*background: none;*/
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: 1.33rem;
  width: 26rem;
  height: 2.66rem;
  box-shadow: 0 0 4px #808080;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 1.66rem;
  padding: 0 1rem;
  transition: all .2s linear;
}

.login__social_button:last-child{
  margin-bottom: 0px;
}

.login__social_button:hover{
  background-color: rgb(64, 224, 208);
}


.login__social_icon{
  width: 25%;
  font-size: 2rem;
  color: #808080;
  transition: all .2s linear;
}

.login__social_title{
  width: 100%;
  text-align: center;
  color: #808080;
  font-size: 1rem;
  font-weight: 600;
  transition: color .2s linear;
}

.login__social_button:hover .login__social_icon, .login__social_button:hover .login__social_title{
  color: #ffffff;
}

.login__social_button:last-child{
  margin-bottom: 0;
}

.login__social_option{
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
}

.login__social_option span a, .login__social_option a{
  text-decoration: none;
  color: cornflowerblue;
  transition: color .2s linear;
}

.login__social_option span a:hover, .login__social_option a:hover{
  color: #ff3399;
}

.login__social_option span{
  margin-bottom: 0.66rem;
}

@media(max-width: 767px){
    .login__row{
        flex-direction: column;
    }

    .login__right {
      margin-left: 0;
      align-items: center;
      width: 100%;
    }

    .login__left {
      margin-right: 0;
      align-items: center;
      width: 100%;
    }

    .login__item, .login__social_button, .login__social_option{
      width: 26rem;
    }

    .Login_login__inner__3jS8M {
      justify-content: center;
      align-items: center;

}
}

