.team {
    display: flex;
    flex-direction: column;
    padding-top: 6rem;
}

.team__header {
    display: flex;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid #e04050;
    margin-top: 2rem;
    padding-bottom: 10px;
    height: 6vh;
}

.team__header_strip div {
    width: 0.2rem;
    height: 2.5rem;
    background-color: #40e0d0;
}

.team__header_title {
    font-size: 2.33rem;
    font-weight: 300;
    line-height: 4.66rem;
    margin-left: 0.26rem;
}

.team__body {
    margin: 15px 0;
}

.team__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.66rem -1rem 0 -1rem;
}

.team__item {
    width: 21rem;
    height: 30rem;
    margin: 1rem 1rem;
}

.team__item_wrapper {
    overflow: hidden;
    position: relative;
    height: 30rem;
    box-shadow: 0 0 4px #808080;
    border: 1px solid #40e0d0;
    border-radius: 0.66rem;
    background: none;
}

.team__background {
    display: flex;
    flex-direction: column;
    position: sticky;
    align-items: center;
}


.background__oval_1 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    background-color: #00cccc;
    bottom: 60%;
    right: -1.2rem;
}

.background__oval_2 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 70%;
    right: 0.67rem;
    background-color: #40e0d0;
}

.background__oval_2_1 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 70%;
    right: -2.26rem;
    background-color: #33ffff;
    opacity: 0.5;
}

.background__oval_3 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 73%;
    right: -3.66rem;
    border: 1px solid #66ffff;
}

.background__oval_3_1 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 75%;
    right: -3.53rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_2 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 77%;
    right: -3.4rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_3 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 79%;
    right: -3.26rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_4 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 81%;
    right: -3.06rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_5 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 83%;
    right: -2.8rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_6 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 79%;
    right: 4.46rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_7 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 80%;
    right: 4.13rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_8 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 81%;
    right: 3.8rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_9 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 82%;
    right: 3.46rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_10 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 83%;
    right: 3.13rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_11 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 84%;
    right: 2.8rem;
    background: none;
    border: 1px solid #66ffff;
}

.background__oval_3_12 {
    position: absolute;
    border-radius: 50%;
    width: 23.33rem;
    height: 23.33rem;
    bottom: 85%;
    right: 2.46rem;
    background: none;
    border: 1px solid #66ffff;
}

.team__photo_wrapper {
    position: absolute;
    border-radius: 50%;
    width: 10.66rem;
    height: 10.66rem;
    left: 5.3rem;
    bottom: 47%;
}

.team__photo {
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    border: 4px solid #00CCCC;
    width: 10rem;
    height: 10rem;
    bottom: 3%;
    left: 5px;
    background-color: white;
}

.team__photo img {
    position: absolute;
    width: 9.6rem;
    right: 2px;
}

.team__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13.33rem;
    padding-top: 16rem;
    border-bottom: 1px solid #808080;
}

.team__info_title {
    font-size: 1.2rem;
    font-weight: 600;
}

.team__info_subtitle {
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: 200;
    color: #808080;
}

.team__info_description {
    overflow-y: auto;
    margin: 0.66rem 1.5rem;
    height: 8.66rem;
    font-size: 0.86rem;
    text-align: justify;
}