html {
  font-size: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color:#808080;
  background-image: url("../src/images/background.jpg");
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea{
  outline: 0 !important;
  border: none;

}

a:hover {
  color:#808080;
 }

.container{
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
}

/*-----------Header-----------*/
header{
  position: fixed;
  width: 1440px;
  padding: 8px 0;
  /*background-color: rgb(246, 246, 246);*/
  z-index: 1;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*-----------End Header-----------*/

/*-----------Content header-----------*/
.content{
  display: flex;
  flex-direction: column;
}

.content__header{
  display: flex;
  align-items: center;
  margin-top: 8rem;
  text-align: left;
  border-bottom: 1px solid #ff3399;
}

.content__header-strip div{
  width: 0.3rem;
  height: 2.5rem;
  background-color: rgb(64, 224, 208);
}

.content__header-title{
  font-size: 2.33rem;
  font-weight: bold;
  line-height: 4.66rem;
  margin-left: 0.26rem;
}
/*-----------End content header-----------*/

/*-----------Content body-----------*/
.content__body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*-----------End content body-----------*/

/*-----------Navigation-----------*/
.company__content{
  display: inline-block;
}

.company__name {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  font-weight: 900;
  font-size: 38px;
}

.company__name-title{
  color: rgb(64, 224, 208);
  margin-top: -0.2rem;
  font-size: 34px;
  font-weight: 900;
}


.nav {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__link {
  margin-left: 2rem;
  position: relative; /* для полоски под link */
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color:#808080;
  transition: all .2s linear;
}

.nav__link:first-child{
  margin-left: 0;
}

.nav__link:not(.nav__link--btn){
  text-transform: lowercase;
}

.nav__link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background-color: rgb(64, 224, 208);
  bottom: -0.33rem;
  left: 0;
  z-index: 1;
  transition: all .2s ease;
}

.nav__link:hover:not(.nav__link--btn)::after, .nav__link.active:not(.nav__link--btn)::after {
  width: 100%;
}

.nav__link--btn {
  min-width: 100px;
  border: 1px solid #808080;
  padding: 8px 15px;
  transition: all .2s linear;
  border-radius: 30px;
  cursor: pointer;
  text-align: center;
}

.nav__link--btn:hover, .nav__link--btn.active {
  background-color: rgb(64, 224, 208);
  box-shadow: 0 0 4px #808080;
  border-color: rgb(64, 224, 208);
  color: #ffffff;
}
/*-----------End Navigation-----------*/

/*-----------Home-----------*/
.content__header-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
}

.home__title{
  font-size: 6rem;
  font-weight: 700;
  color: #ff3399;
}

.home__subtitle{
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  font-style: italic;
  font-weight: 400;
  margin-top: -15px;
}

.carousel {
  position: relative;
  width: 950px;
  padding-top: 50px;
}

.d-block.w-100{
  text-align: justify;
  /*color: #40E0D0;*/
  color: #808080;
  font-size: 18px;
  line-height: 30px;
}

.sr-only{
  display: none;
}

.carousel-control-prev-icon {
  /*background-image: url('./images/left-arrow.svg');*/
  background-image: none;
}
.carousel-control-next-icon {
  /*background-image: url('./images/right-arrow.svg');*/
  background-image: none;
}
/*-----------End Home-----------*/

/*-----------Products-----------*/
.menu__products{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 25px;
}

.nav__link.menu__link{
  background: none;
  font-weight: 200;
  cursor: pointer;
  margin-left: 10px;
}

.nav__link.menu__link:after{
  height: 1px;
  background-color: #808080;
}
.product__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}

.product__item{
  width: 255px;
  margin: 15px 15px;
}

.product__item-wrapper{
  overflow: hidden;
  position: sticky;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  box-shadow: 0 0 4px #808080;
  border-radius: 10px;
  transition: box-shadow .2s linear;
}

.product__item-wrapper:hover {
  box-shadow: 0 0 25px #808080;
}

.product__photo{
  background-color: rgb(0, 204, 204);
  height: 230px;
}

.product__content{
  display: flex;
  flex-direction:column;
  padding: 15px;
}

.product__info{
  display: flex;
  flex-direction: column;
  height: 135px;
  padding-bottom: 15px;
}

.product__info div{
  border-bottom: 1px solid #808080;
  padding-bottom: 3px;
}
.product__info-title{
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.product__info-subtitle{
  overflow-x: auto;
  font-size: 13px;
  padding-top: 5px;
}

.product__buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.btn__purchases{
  background-color: #ffffff;
  border: 1px solid #808080;
  color: #808080;
  font-weight: 600;
}
/*-----------End Products-----------*/

/*-----------Team-----------*/
.team__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px -15px 0 -15px;
}
.team__item{
  width: 255px;
  margin: 15px 15px;
}

.team__item-wrapper{
  overflow: hidden;
  position: relative;
  height: 450px;
  box-shadow: 0 0 4px #808080;
  border-radius: 10px;
  background-color: #ffffff;
}

.team__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__background{
  position: absolute;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  background-color: rgb(0, 204, 204);
}

.team__background.oval__1{
  bottom: 60%;
  right: -50px;
}

.team__background.oval__2{
  bottom: 70%;
  right: -20px;
  background-color: rgb(64, 224, 208);
}

.team__background.oval__2-1{
  bottom: 78%;
  right: -124px;
  background-color: rgb(51, 255, 255);
  opacity: 0.5;
}

.team__background.oval__3{
  bottom: 73%;
  right: -100px;
  width: 350px;
  border: 1px solid #66ffff;
}

.team__background.oval__3-1{
  bottom: 75%;
  right: -98px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-2{
  bottom: 77%;
  right: -96px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-3{
  bottom: 79%;
  right: -94px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-4{
  bottom: 81%;
  right: -91px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-5{
  bottom: 83%;
  right: -87px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-6{
  bottom: 79%;
  right: 67px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-7{
  bottom: 80%;
  right: 62px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-8{
  bottom: 81%;
  right: 57px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-9{
  bottom: 82%;
  right: 52px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-10{
  bottom: 83%;
  right: 47px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-11{
  bottom: 84%;
  right: 42px;
  background: none;
  border: 1px solid #66ffff;
}

.team__background.oval__3-12{
  bottom: 85%;
  right: 37px;
  background: none;
  border: 1px solid #66ffff;
}

.team__photo-wrapper{
  position: absolute;
  border-radius: 50%;
  background-color: white;
  width: 160px;
  height: 160px;
  left: 50px;
  bottom: 45%;
}
.team__photo{
  position: absolute;
  overflow: hidden;
  border-radius: 50%;
  border: 4px solid #00CCCC;
  width: 150px;
  height: 150px;
  bottom: 4%;
  left: 5px;
  background-color: white;
}

.team__photo img{
  position: absolute;
  width: 144px;
  right: 2px;
}
.team__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding-top: 240px;
  border-bottom: 1px solid #808080;
}

.team__info-title{
  font-size: 18px;
  font-weight: 600;
}

.team__info-subtitle{
  text-transform: uppercase;
  padding-bottom: 5px;
  font-weight: 200;
  color: #808080;
}

.team__info-description{
  overflow-y: auto;
  margin: 10px 27px;
  height: 130px;
  font-size: 13px;
  text-align: justify;
}
/*-----------End Team-----------*/

/*-----------Contact-----------*/
.contact__title{
  margin-top: 30px;
  font-size: 35px;
  font-weight: 400;
}

.contact__subtitle{
  opacity: 0.8;
  font-size: 18px;
}

.contact__message{
  width: 700px;
  height: 130px;
  box-shadow: 0 0 4px #808080;
  border-radius: 30px;
  margin-top: 30px;
  padding: 15px;
  resize: none;
  font-size: 1rem;
  color: #808080;
}

textarea {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ffffff;
}

::placeholder{
  color: #808080;
  font-size: 1rem;
  opacity: 0.5;
}

.contact__buttons{
  display: flex;
  width: 700px;
  height: 40px;
  margin-top: 15px;
}

.input__email{
  box-shadow: 0 0 4px #808080;
  border: 1px solid #ffffff;
  border-radius: 30px;
  width: 330px;
  margin-right: 15px;
  font-size: 15px;
  color: #808080;
  padding: 0 15px;
}

.input__name{
  box-shadow: 0 0 4px #808080;
  border: 1px solid #ffffff;
  border-radius: 30px;
  width: 240px;
  margin-right: 15px;
  font-size: 15px;
  color: #808080;;
  padding: 0 15px;
}

.input__email:hover, .input__email:focus,
  .input__name:hover, .input__name:focus,
     textarea:hover, textarea:focus{
  border: 1px solid rgb(64, 224, 208);
}

.btn__send {
  width: 100px;
  box-shadow: 0 0 4px #808080;
  background-color: #ffffff;
  font-weight: 600;
  border: none;
  color: #808080;
}
/*-----------End Contact-----------*/

/*-----------Login-----------*/
.login__title{
  margin-top: 30px;
  font-size: 35px;
  font-weight: 400;
}

.login__container{
  width: 100%;
  margin-top: 30px;
}

.login__row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.login__left, .login__right {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.login__inner {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 50%; */
  /* border: 1px solid #808080; */
  /* padding: 10px; */
  height: 300px;
}

.login__inner-title{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #808080;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}

.login__item{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%
}

.login__item-title{
  padding-left: 15px;
  padding-bottom: 3px;
}

.login__item-title a{
  color: #808080;
  text-decoration: none;
  transition: color .2s linear;
}

.login__item-title a:hover{
  color: #ff3399;
}

.login__item-input{
  height: 40px;
  box-shadow: 0 0 4px #808080;
  border: 1px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 0 15px 0 40px;
  transition: all .2s linear;
}

.login__item-button{
  margin-top: 50px;
}

.login__item-input:hover, .login__item-input:focus{
  border: 1px solid rgb(64, 224, 208);
}

.email__icon {
  position: absolute;
  left: 10px;
  bottom: 32px;
}

.password__icon{
  position: absolute;
  left: 10px;
  bottom: 32px;
}

.login__item a{
  position: absolute;
  color: cornflowerblue;
  padding-left: 15px;
  top: 70px;
  text-decoration: none;
}

.login__item a:hover{
  color: #ff3399;
}

.login__item-button{
  height: 40px;
  box-shadow: 0 0 4px #808080;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 0 15px;
  color: #808080;
  font-size: 1rem;
  font-weight: 600;
  transition: all .2s linear;
}

.login__item-button:hover{
  background-color: rgb(64, 224, 208);
  color: #ffffff;
}

.social__button{
  display: flex;
  background: none;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 70%;
  height: 40px;
  box-shadow: 0 0 4px #808080;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 25px;
  padding: 0 15px;
  transition: all .2s linear;
}

.social__button:last-child{
  margin-bottom: 0px;
}

.social__button:hover{
  background-color: rgb(64, 224, 208);
}

.social__button:hover .social__button-icon, .social__button:hover .social__button-title{
  color: #ffffff;
}

.social__button:last-child{
  margin-bottom: 0;
}

.social__button-icon{
  width: 25%;
  font-size: 30px;
  color: #808080;
  transition: color .2s linear;
}

.social__button-title{
  width: 75%;
  text-align: center;
  color: #808080;
  font-size: 1rem;
  font-weight: 600;
  transition: color .2s linear;
}

.social__option{
  display: flex;
  flex-direction: column;
}

.social__option span a, .social__option a{
  text-decoration: none;
  color: cornflowerblue;
  transition: color .2s linear;
}

.social__option span a:hover, .social__option a:hover{
  color: #ff3399;
}

.social__option span{
  margin-bottom: 10px;
}

/*-----------End Login-----------*/



