.container{
    width: 100%;
    padding: 0 1rem;
}

.footer{
    position: fixed;
    z-index: 1;
    bottom: 0;

}

.footer__inner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8%;
    padding: 0.3rem 0;
}


@media(max-width: 747px){
    .footer{
    position: static;
}
}

@media(max-width: 556px){
.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
        line-height: 30px;
}
}