.video {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow: hidden;
    z-index: 0;
    opacity: 0.3;
}

.img {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}

@media(max-width: 1679px){
    .img{
        width: auto;
    }
}

/*@media (max-width: 747px) {*/
/*    .img {*/
/*        width: auto;*/
/*    }*/
/*}*/

/*@media (max-width: 556px) {*/
/*    .img {*/
/*        width: auto;*/
/*    }*/
/*}*/

/*@media (max-width: 485px) {*/
/*    .img {*/
/*        width: auto;*/
/*    }*/
/*}*/